<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- redis 相关配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="testOnBorrow" value="true" />
	</bean>
	<bean id="jedisPool" class="uyun.ufs.common.redis.JedisPoolCustom">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" value="${redis.master}" />
		<constructor-arg index="2" value="${redis.sentinel.nodes}" />
		<constructor-arg index="3" value="6379" />
		<constructor-arg index="4" value="3000" />
		<constructor-arg index="5" value="#{propertiesUtil.getValue('redis.password')}" />
		<constructor-arg index="6" value="0" />
		<constructor-arg index="7" value="true" />
	</bean>
</beans>
